body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #E3BA6D;
    
}
header {
    display: flex;
    background: #5E574A;
    align-items: center;
    padding: 30px 20px;

}
h1 {
    color: #DFCEAE;
    font-weight: 700;
    font-size: 32px;
    margin-left: 25px;
}
.itensmenu {
    color:#DFCEAE;
    text-decoration: none;
    margin-right: 50px;
    font-weight: bolder;

}
.menu a:hover {
    background-color: #E3BA6D;
    color: black;
    padding: 15px;
}
.miolosite {
    height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.galeria {
    padding: 5px 10px;
    margin: 10px;
    
    
} 
h2 {
    color: #5E574A;
    font-family: 'Gill Sans MT';
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    padding: 10px;
}
footer {
    background: black;
    padding: 30px;
}
.imagemfooter {
    align-items: center;
    margin-left: 45%;
    padding: 8px;
}
.copyrighttexto {
    text-align: center;
    color: white;
    bottom: 0;
}
