header{
    justify-content: space-between;
}
.menu {
    display: flex;
}
main {
    display: inline-block;
    flex-direction: row;
    margin-left: 12px;
}


/*parte mobile*/
@media(max-width: 768px) {

    header {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;

    }
    main {
        flex-direction: column;
        height: auto;
    }
    .imagemfooter {
        align-items: center;
    }
    .copyrighttexto {
        align-items: center;
    }
}